.Periodo-container{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.List-periodo{
    width: 65%;
    background-color: #287463;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.List-periodo-item{
    display: block;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-weight: 500;
    transition: all 0.5s;
}

.List-periodo-item:hover{
    background-color: #fff;
    color: #287463;
}